body {
    padding-bottom: 14px;
}

.progress-bar {
    bottom: 0;
    position: fixed;
    height: 7px;
    left: 0;
    z-index: 9999999;
    height: 14px;
}

.scroll-process-form-wrapper{
    width: 100%;
    /* display: inline-block; */
}

.scroll-process-form{
    /* float: left; */
    width: auto;
    display: inline-block;
    margin-right: 35px;
}

.scroll-process-form .form-item{
    margin-top: 0;
    margin-bottom: 0;
}

.scroll-process-color input {
    height: 46px;
}